@page "/buttontesting"

<SfButton OnClick=@OnClickAsync>With await</SfButton>

<br />

<SfButton OnClick=@OnClickWithFakedTaskAsync>With faked task</SfButton>

<br />

<SfButton OnClick=@OnClickWithTaskContinuationAsync>With continuation</SfButton>

<br />

<SfButton OnClick=@OnClick>Synchronous</SfButton>

<br />

<SfButton OnClick=@OnClickWithDisabling Disabled=@IsDisabled>Synchronous - with disabling</SfButton>

<br />

<button @onclick=@OnClickAsync>With await - MS button</button>

<br />

<button @onclick=@OnClickWithFakedTaskAsync>With faked task - MS button</button>

<br />

<button @onclick=@OnClickWithTaskContinuationAsync>With continuation - MS button</button>

<br />

<button @onclick=@OnClick>Synchronous - MS button</button>

<br />

<CustomSfButton OnCustomClick=@OnClickAsync>With await - custom</CustomSfButton>

<br />

<CustomSfButton OnCustomClick=@OnClickWithFakedTaskAsync>With faked task - custom</CustomSfButton>

<br />

<CustomSfButton OnCustomClick=@OnClickWithTaskContinuationAsync>With continuation - custom</CustomSfButton>

<br />

<CustomSfButton OnCustomClick=@OnClick>Synchronous - custom</CustomSfButton>

<br />

<CustomSfButton2 OnCustomClick=@OnClick>Synchronous - custom2</CustomSfButton2>

<br />
<br />

<CustomSfButton3 OnCustomClick=@OnClickAsync>With await - custom3</CustomSfButton3>

<br />

<CustomSfButton3 OnCustomClick=@OnClickWithFakedTaskAsync>With faked task - custom3</CustomSfButton3>

<br />

<CustomSfButton3 OnCustomClick=@OnClickWithTaskContinuationAsync>With continuation - custom3</CustomSfButton3>

<br />

<CustomSfButton3 OnCustomClick=@OnClick>Synchronous - custom3</CustomSfButton3>