@page "/textboxvaluechange"

<h1>TextBoxValueChange</h1>

<SfTextBox ValueChange="@ValueChange" Value="@Value"></SfTextBox>
<br />
<SfButton OnClick="@GenerateValue">Generate value</SfButton>

@code {
#pragma warning disable CS8618 // Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
    string Value { get; set; } = "Initial value";
    [Inject]
    ILogger<TextBoxValueChange> Logger { get; set; }
#pragma warning restore CS8618 // Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.

    void ValueChange(ChangedEventArgs args)
    {
        Value = args.Value;
        // Use IsInteracted to limit event handler invocation to only events originating from control.
        // At the moment, event will also be triggered if the value is changed from code.
        // Bacause of this, we should not use ValueChanged, it does not provide the information about the event origin
        if (args.IsInteracted)
        {
            Logger.Here(l => l.LogWarning("{@0}", args));
        }
    }

    void GenerateValue()
    {
        Value = "Value from button";
    }
}
